
body {
    background-image: url("1.jpg");
}
h1 {

    text-align: center;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
h2{
    text-align: center;
}


.d1{
    margin:auto;
    width: 50%;
    border: 3px solid green;
    padding: 5px;
    margin-bottom: 20px;
    background-color: beige;
    position: relative;
}

.d1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.d1:hover .overlay{
    opacity:1;

}
.d2{
    margin:auto;
    width: 50%;
    border: 3px solid green;
    padding: 5px;
    margin-bottom: 20px;
    background-color: beige;
    position: relative;
}

.d2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.d2:hover .overlay{
    opacity:1;
}
.d3{
    margin:auto;
    width: 50%;
    border: 3px solid green;
    padding: 5px;
    background-color: beige;
    position: relative;
}

.d3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.d3:hover .overlay{
    opacity: 1;
}

/*h1:hover{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}*/

img{
    float: left;
    margin-right: 15px;

}

p{
    display: inline-block;
    
}

@keyframes example {
    from{color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
    to{text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
}


.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url("3.jpg");
  }